# Dropping to the shell
[[mgr.prepend_keymap]]
on   = "!"
for  = "unix"
run  = 'shell "$SHELL" --block'
desc = "Open $SHELL here"

# If you also using Yazi on Windows:
[[mgr.prepend_keymap]]
on   = "!"
for  = "windows"
run  = 'shell "powershell.exe" --block'
desc = "Open PowerShell here"

# Close input by once Esc press
# You can change the Esc of input component from the default escape to close command, in your keymap.toml:
[[input.prepend_keymap]]
on   = "<Esc>"
run  = "close"
desc = "Cancel input"
